// Definições de animações e transições que são usadas em várias partes do projeto.

@keyframes fadeIn {
    0% {
        opacity   : 0;
        transform : translate3d(0, 100%, 0);
        visibility: hidden;
    }

    100% {
        opacity   : 1;
        transform : translate3d(0, 0, 0);
        visibility: visible;
    }
}

@mixin fadeIn($delay) {
    animation-name           : fadeIn;
    animation-duration       : 3s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode      : both;
    animation-delay          : $delay;
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform        : translateX(1000px);
        opacity          : 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
        opacity          : 1;
    }
}

@mixin slide-in-right() {
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform        : translateX(-1000px);
        opacity          : 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
        opacity          : 1;
    }
}

@mixin slide-in-left() {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}