@use "../base/colors"as *;
@use "../base/typography"as *;
@use "responsive"as *;

.paragraph {
    @include apply-color("steel-mist");
    @include font-secondary();
    font-weight: 400;
    font-size  : get-font-size(18);

    @include devices(xxl) {
        font-size: get-font-size(22);
    }
}

.item {
    padding: 1rem;

    &__title {
        @include apply-color("pure-white");
        font-weight  : 500;
        font-size    : get-font-size(24);
        line-height  : 40px;
        margin-bottom: 3rem;
        padding-top  : .5rem;
        position     : relative;
        padding-left : 3em;
    }
}