@use "sass:map";

$theme-color: (
    dark-abyss: #14171b,
    deep-black: #0C0C0C,
    deep-lilac: #793ea5,
    flame-red: hsla(345, 93%, 44%, 1),
    pure-black: #000000,
    pure-white: #ffffff,
    ruby-red: #d9083c,
    steel-mist: #6c737d
);

@mixin apply-color($key) {
    @if map.has-key($theme-color, $key) {
        color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@mixin apply-bg-color($key) {
    @if map.has-key($theme-color, $key) {
        background-color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@function get-color($key) {
    @if map.has-key($theme-color, $key) {
        @return map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
        @return null;
    }
}