@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/animations"as *;

.header {
    @include font-primary();
    overflow: hidden;
    padding : 1rem 2%;
    position: absolute;
    width   : 100%;
    z-index : 997;

    .container {
        @include flex(center, space-between);
    }

    &__brand {
        @include apply-color("pure-white");
        font-size  : get-font-size(24);
        font-weight: bold;

        @include slide-in-left();

        span {
            @include apply-color("ruby-red");
            text-transform: lowercase;
        }
    }
}