@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/animations"as *;
@use "../global/responsive"as *;

.section {
    @include apply-bg-color("dark-abyss");
    overflow: hidden;
    padding : 140px 2%;
    position: relative;
    width   : 100%;

    @include devices-large-screens {
        padding-top   : 200px;
        padding-bottom: 200px;
    }

    &::before {
        background-image: url("../images/dots.svg");
        content         : "";
        display         : block;
        height          : 180px;
        left            : 50%;
        opacity         : .25;
        position        : absolute;
        top             : 0;
        width           : 280px;
    }

    .container {
        margin-top: 3rem;
    }
}

.section__title {
    //@include fadeIn(2s);
    margin-bottom: 2rem;
    position     : relative;

    @include devices-large-screens {
        margin-bottom: 4rem;
    }

    &::before {
        @include apply-color("steel-mist");
        content       : attr(data-num);
        font-weight   : 600;
        font-size     : get-font-size(160);
        letter-spacing: -0.02em;
        line-height   : 1;
        opacity       : .1;
    }

    h2 {
        @include apply-color("flame-red");
        bottom        : 0;
        font-size     : get-font-size(14);
        font-weight   : 500;
        margin-bottom : 1rem;
        left          : 1em;
        letter-spacing: 3.3px;
        line-height   : 24px;
        padding-bottom: 2em;
        position      : absolute;
        text-transform: uppercase;
        z-index       : 2;
    }
}

.section__row {
    @include grid(1fr);
    gap: 2rem;

    @include devices-large-screens {
        grid-template-columns: 1fr 1fr;
    }
}

.section__column {
    padding: 1rem;

    @include devices(xxl) {
        padding: 1rem 2rem;
    }

    h3 {
        @include apply-color("pure-white");
        font-weight   : 500;
        font-size     : get-font-size(18);
        letter-spacing: -0.5px;
        line-height   : 2rem;
        margin-bottom : 1rem;

        @include devices-large-screens {
            font-size  : get-font-size(38);
            line-height: 3.5rem;
        }
    }
}